<div class="flex flex-col items-center justify-center bg-pastel-yellow-white border-gray-200 rounded-lg shadow-lg p-8  py-6 mx-auto">
  <!-- Image Section -->
  <img src="no-items-found.webp" alt="No Items Found Illustration" class=" max-w-md" />

  <!-- Heading -->
  <h1 class="text-2xl font-semibold text-gray-800 mb-4">No Items Found</h1>

  <!-- Message -->
  <p class="text-base text-gray-600 mb-6 text-center">
    It looks like we couldn’t find any items that match your search. Please try again with different keywords.
  </p>

  <!-- Button to Return or Retry -->
  <a [routerLink]="['']"
     class="inline-flex items-center px-6 py-3 bg-yellow-500 text-white text-base font-semibold rounded-md hover:bg-yellow-600 transition duration-300 ease-in-out">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12h18m-6-6l6 6-6 6" />
    </svg>
    Go Back to Home
  </a>
</div>
