@using CoinyProject.Application.DTO
@model IEnumerable<AlbumGetDTO>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Album List
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Album" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Album
            </a>
        </div>
    </div>
    <div class="row">
        @if (Model != null)
            foreach (var album in Model)
            {
                <div class="col-md-3">
                    <partial name="_AlbumView" model="@album" />
                </div>
            }
    </div>
    
</div>