html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*tab navigation*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}

.img-size {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.img-size-create {
    width: 80%;
    height: 15vw;
    object-fit: cover;
}

.card .img-fit{
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card{
    height: 100%;
}

.card-body{
    display: flex;
    height: 100%;
    flex-direction:column;
}

.card-text{
    flex-grow: 1;
}

@media (max-width: 768px) {
    .card .img-fit{
        aspect-ratio: 1 / 1;
        object-fit: cover;
}

