@using CoinyProject.Application.DTO
@model IEnumerable<AlbumGetForViewDTO>

<div class="container p-1">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                @Localizer["Home Page"]
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Album" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> @Localizer["Add New Album"]
            </a>
        </div>
    </div>

    @if (Model != null)
        foreach (var album in Model)
        {
            <div class="row justify-content-center  mb-5">
            <partial name="_HomeAlbumView" model="@album" />
            </div>
        }
</div>

