@using CoinyProject.Application.DTO
@model AlbumElementGetDTO

<div class="card mb-4 shadow-sm">
    <img src="@(string.IsNullOrEmpty(Model.ImageURL) ? "/images/noimage.png" : Model.ImageURL)" class="img-thumbnail" />
    <div class="card-body">
        <h3 class="card-title">@(string.IsNullOrEmpty(Model.Name) ? "Name is not available" : Model.Name)</h3>
        <p class="card-text">@(string.IsNullOrEmpty(Model.Description) ? "Description is not availabe" : Model.Description)</p>
        </div>
    </div>
</div>