@model LoginViewModel

<form asp-controller="Auth" asp-action="Login" method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Login</h2>
            <hr />
        </div>
        <input asp-for="ReturnUrl" type="hidden" />
        <div class="mb-3 row p-1">
            <label asp-for="Username" class="p-0"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Password" class="p-0"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Login</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Auth" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl" 
                class="btn btn-outline-secondary form-control text-primary">
                    Register
                </a>
            </div>
        </div>
</form>
