@model RegisterViewModel

<form asp-controller="Auth" asp-action="Register" method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Register</h2>
            <hr />
        </div>
        <input asp-for="ReturnUrl" type="hidden" />
        <div class="mb-3 row p-1">
            <label asp-for="Firstname" class="p-0"></label>
            <input asp-for="Firstname" class="form-control" />
            <span asp-validation-for="Firstname" class="text-danger"></span>
        </div><div class="mb-3 row p-1">
            <label asp-for="Lastname" class="p-0"></label>
            <input asp-for="Lastname" class="form-control" />
            <span asp-validation-for="Lastname" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Email" class="p-0"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Password" class="p-0"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="ConfirmPassword" class="p-0"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Register</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" 
                class="btn btn-outline-secondary form-control text-primary">
                    Back to Login
                </a>
            </div>
        </div>
</form>